langchain
langchain-openai
dotenv
langchain-google-genai
langchain-anthropic
langchain-groq
langchain-community
langchain-groq
langchain-openai
langgraph
PyPDF
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-chroma
pydantic